apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: csi-driver-nfs
  namespace: {{ argocd_namespace | default('argocd') }}
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: infrastructure
  source:
    chart: csi-driver-nfs
    repoURL: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    targetRevision: {{ csi_driver_nfs_version | default('4.9.0') }}
    helm:
      values: |
        externalSnapshotter:
          enabled: true
        controller:
          runOnControlPlane: true
          replicas: {{ csi_driver_nfs_replica_count | default(2) }}
        storageClass:
          create: true
          name: nfs-csi
          annotations:
            storageclass.kubernetes.io/is-default-class: "true"
          parameters:
            server: {{ NFS_SERVER }}
            share: {{ NFS_EXPORT_PATH }}
          reclaimPolicy: Delete
          volumeBindingMode: Immediate