---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: glitchtip-duckdb
  namespace: {{ glitchtip_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-csi
  resources:
    requests:
      storage: {{ glitchtip_duckdb_storage_size }}