---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: glitchtip-duckdb
  namespace: {{ glitchtip_namespace }}
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "-1"
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-csi
  resources:
    requests:
      storage: {{ glitchtip_duckdb_storage_size }}