---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: arc-docker-cache
  namespace: {{ arc_runner_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-csi
  resources:
    requests:
      storage: {{ arc_docker_cache_size }}
