---
victoria-metrics-k8s-stack:
  defaultDashboards:
    enabled: false

  defaultRules:
    create: false

  vmsingle:
    enabled: false

  external:
    vm:
      read:
        url: http://vmsingle-external:8428
      write:
        url: http://vmsingle-external:8428

  vmagent:
    additionalRemoteWrites:
      - url: http://vmsingle-external:8428/api/v1/write
    spec:
      selectAllByDefault: true
      scrapeInterval: 20s

  alertmanager:
    enabled: true
    name: stack
    spec:
      replicaCount: 1
      port: "9093"
      selectAllByDefault: true
    config:
      route:
        receiver: blackhole
      receivers:
        - name: blackhole

  vmalert:
    enabled: true
    spec:
      selectAllByDefault: true
      evaluationInterval: 20s

  defaultDatasources:
    victoriametrics:
      datasources:
        - name: VictoriaMetrics
          type: prometheus
          access: proxy
          isDefault: true
    alertmanager:
      datasources:
        - name: Alertmanager
          access: proxy
          jsonData:
            implementation: prometheus
    extra:
      - name: VictoriaLogs
        type: loki
        access: proxy
        url: http://victoria-logs.victoria-logs.svc.cluster.local:9428
        jsonData:
          derivedFields: []
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo-external.tempo.svc.cluster.local:3200

  grafana:
    enabled: true
    adminUser: admin
    envValueFrom:
      GF_SECURITY_ADMIN_PASSWORD:
        secretKeyRef:
          name: grafana-secrets
          key: GF_SECURITY_ADMIN_PASSWORD
      GF_DATABASE_HOST:
        secretKeyRef:
          name: grafana-secrets
          key: DB_HOST
      GF_DATABASE_NAME:
        secretKeyRef:
          name: grafana-secrets
          key: POSTGRES_DB
      GF_DATABASE_USER:
        secretKeyRef:
          name: grafana-secrets
          key: POSTGRES_USER
      GF_DATABASE_PASSWORD:
        secretKeyRef:
          name: grafana-secrets
          key: POSTGRES_PASSWORD
    env:
      GF_DATABASE_TYPE: postgres
      GF_DATABASE_SSL_MODE: disable
    sidecar:
      dashboards:
        enabled: false
      datasources:
        enabled: true
        label: grafana_datasource
        labelValue: "1"
    ingress:
      enabled: false

  prometheus-node-exporter:
    enabled: true

  kube-state-metrics:
    enabled: true
