{% raw %}
[Unit]
Description=Nightly GlitchTip PostgreSQL backups

[Timer]
OnCalendar={{ glitchtip_backup_schedule }}
Persistent=true
Unit=glitchtip-postgresql-backup.service

[Install]
WantedBy=timers.target
{% endraw %}
