apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: "{{ cert_manager_issuer_name }}-cluster-issuer"
spec:
  acme:
    # stage 
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    # production
    # server: {{ cert_manager_acme_server }}
    email: {{ cloudflare_email }}
    privateKeySecretRef:
      name: "{{ cert_manager_issuer_name }}-private-key"
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: {{ cert_manager_cloudflare_api_secret_name }}
              key: {{ cert_manager_cloudflare_api_secret_key }}