---
- name: Configure GlitchTip data host
  hosts: glitchtip-data
  become: true
  gather_facts: true
  pre_tasks:
    - name: Load service variables
      ansible.builtin.include_vars:
        file: "{% raw %}{{ playbook_dir }}{% endraw %}/../group_vars/services.yaml"

    - name: Load encrypted service variables
      community.sops.load_vars:
        file: "{% raw %}{{ playbook_dir }}{% endraw %}/../group_vars/services.sops.yaml"

  roles:
    - glitchtip_data
