k3s_kubeconfig_file: /etc/rancher/k3s/k3s.yaml
cilium_repo_url: https://helm.cilium.io
cilium_version: {{ cilium_version }}
cilium_namespace: kube-system
load_balancer_ip_pool: {{ load_balancer_ip_pool }}
cilium_values:
  kubeConfigPath: {{ k3s_kubeconfig_file }}
  operator:
    replicas: 1
  kubeProxyReplacement: true
  ipam:
    mode: "cluster-pool"
    operator:
      clusterPoolIPv4PodCIDRList: 
      - {{ cluster_cidr }}
  l2announcements:
    enabled: true
  k8sServiceHost: {{ control_plane_endpoint }}
  k8sServicePort: {{ api_port }}
  hubble:
    relay:
      enabled: {{ hubble_relay_enabled }}
    ui:
      enabled: {{ hubble_ui_enabled }}
  ingressController:
    enabled: true
    loadbalancerMode: shared 
    default: true
    service:
      type: LoadBalancer
  gatewayAPI:
    enabled: true
  loadBalancer:
    serviceTopology: true  # Only uses nodes running the service
    algorithm: maglev     # For better session affinity