---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: overseerr
  namespace: {{argocd_namespace | default('argocd')}}
spec:
  destination:
    namespace: {{media_namespace}}
    server: https://kubernetes.default.svc
    finalizers:
      - resources-finalizer.argocd.argoproj.io
  project: apps
  source:
    chart: {{helmchart_template_name}}
    repoURL: {{helmchart_template_repo}}
    targetRevision: {{helmchart_template_version}}
    helm:
      releaseName: overseerr
      values: |
        controllers:
          overseerr:
            pod:
              securityContext:
                fsGroup: 1000
                runAsUser: 1000
                runAsGroup: 1000
            containers:
              app:
                image:
                  repository: {{ overseerr_image_repository }}
                  tag: {{ overseerr_image_tag }}
                env:
                  TZ: America/New_York
        service:
          app:
            controller: overseerr
            ports:
              http:
                port: 5055
        ingress:
          app:
            enabled: true
            className: cilium
            annotations:
              cert-manager.io/cluster-issuer: {{ cert_manager_issuer_name }}
            hosts:
              - host: {{ overseerr_domain }}
                paths:
                  - path: /
                    pathType: Prefix
                    service:
                      identifier: app
                      port: http
            tls:
              - secretName: overseerr-tls
                hosts:
                  - {{ overseerr_domain }}
        persistence:
          config:
            enabled: true
            type: persistentVolumeClaim
            storageClass: nfs-csi
            accessMode: ReadWriteOnce
            size: 2Gi
            globalMounts:
              - path: /config
          media:
            enabled: true
            type: nfs
            server: {{ nfs_server }}
            path: {{ nfs_media_export_path }}
            globalMounts:
              - path: /media
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: "5s"
        factor: 2
        maxDuration: "3m"
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
