---
all:
  children:
    controllers:
      hosts:
        {% for node in node_inventory if node.controller %}
        {{ node.name }}:
          ansible_host: {{ node.address }}
          device_model: {{ node.device_model }}
          network_interface: {{ node.network_interface }}
        {% endfor %}
    workers:
      hosts:
        {% for node in node_inventory if not node.controller %}
        {{ node.name }}:
          ansible_host: {{ node.address }}
          device_model: {{ node.device_model }}
          network_interface: {{ node.network_interface }}
        {% endfor %}