---
all:
  children:
    {{ server_group }}:
      hosts:
        {% for node in node_inventory if node.controller %}
        {{ node.name }}:
          ansible_host: {{ node.address }}
          device_model: {{ node.device_model }}
          network_interface: {{ node.network_interface }}
        {% endfor %}
    {{ agent_group }}:
      hosts:
        {% for node in node_inventory if not node.controller %}
        {{ node.name }}:
          ansible_host: {{ node.address }}
          device_model: {{ node.device_model }}
          network_interface: {{ node.network_interface }}
        {% endfor %}