---
all:
  children:
    controllers:
      hosts:
        {% for node in node_inventory if node.controller %}
        {{ node.name }}:
          ansible_host: {{ node.address }}
        {% endfor %}
    worker:
      hosts:
        {% for node in node_inventory if not node.controller %}
        {{ node.name }}:
          ansible_host: {{ node.address }}
        {% endfor %}