{% import '_macros/wait_for_secret.yaml.j2' as waitmacro %}
---
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: plane-secrets
  namespace: {{ plane_namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  labels:
    app.kubernetes.io/managed-by: infisical-operator
spec:
  hostAPI: {{ infisical_internal_url }}/api
  syncConfig:
    resyncInterval: 60s
  authentication:
    kubernetesAuth:
      identityId: {{ infisical_operator_identity_id }}
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: {{ infisical_operator_service_account }}
        namespace: {{ infisical_operator_namespace }}
      secretsScope:
        projectSlug: {{ infisical_project_slug }}
        envSlug: {{ infisical_env_slug }}
        secretsPath: /kubernetes/plane
        recursive: false
  managedKubeSecretReferences:
    - secretName: plane-app-secrets
      secretNamespace: {{ plane_namespace }}
      secretType: Opaque
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          SECRET_KEY: {{ "'{{ `{{ .SECRET_KEY.Value }}` }}'" }}
          AES_SECRET_KEY: {{ "'{{ `{{ .AES_SECRET_KEY.Value }}` }}'" }}
          LIVE_SERVER_SECRET_KEY: {{ "'{{ `{{ .LIVE_SERVER_SECRET_KEY.Value }}` }}'" }}
          PI_INTERNAL_SECRET: {{ "'{{ `{{ .PI_INTERNAL_SECRET.Value }}` }}'" }}
          DATABASE_URL: {{ "'{{ `postgresql://" ~ plane_postgres_user ~ ":{{ .POSTGRES_PASSWORD.Value }}@" ~ plane_postgres_host ~ ":" ~ plane_postgres_port ~ "/" ~ plane_postgres_db ~ "` }}'" }}
          REDIS_URL: redis://{{ plane_release_name }}-redis.{{ plane_namespace }}.svc.cluster.local:6379/
          AMQP_URL: {{ "'{{ `amqp://{{ .RABBITMQ_DEFAULT_USER.Value }}:{{ .RABBITMQ_DEFAULT_PASS.Value }}@" ~ plane_release_name ~ "-rabbitmq." ~ plane_namespace ~ ".svc.cluster.local/` }}'" }}
    - secretName: plane-live-secrets
      secretNamespace: {{ plane_namespace }}
      secretType: Opaque
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          LIVE_SERVER_SECRET_KEY: {{ "'{{ `{{ .LIVE_SERVER_SECRET_KEY.Value }}` }}'" }}
          REDIS_URL: redis://{{ plane_release_name }}-redis.{{ plane_namespace }}.svc.cluster.local:6379/
    - secretName: plane-silo-secrets
      secretNamespace: {{ plane_namespace }}
      secretType: Opaque
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          SILO_HMAC_SECRET_KEY: {{ "'{{ `{{ .SILO_HMAC_SECRET_KEY.Value }}` }}'" }}
          AES_SECRET_KEY: {{ "'{{ `{{ .AES_SECRET_KEY.Value }}` }}'" }}
          DATABASE_URL: {{ "'{{ `postgresql://" ~ plane_postgres_user ~ ":{{ .POSTGRES_PASSWORD.Value }}@" ~ plane_postgres_host ~ ":" ~ plane_postgres_port ~ "/" ~ plane_postgres_db ~ "` }}'" }}
          REDIS_URL: redis://{{ plane_release_name }}-redis.{{ plane_namespace }}.svc.cluster.local:6379/
          AMQP_URL: {{ "'{{ `amqp://{{ .RABBITMQ_DEFAULT_USER.Value }}:{{ .RABBITMQ_DEFAULT_PASS.Value }}@" ~ plane_release_name ~ "-rabbitmq." ~ plane_namespace ~ ".svc.cluster.local/` }}'" }}
    - secretName: plane-rabbitmq-secrets
      secretNamespace: {{ plane_namespace }}
      secretType: Opaque
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          RABBITMQ_DEFAULT_USER: {{ "'{{ `{{ .RABBITMQ_DEFAULT_USER.Value }}` }}'" }}
          RABBITMQ_DEFAULT_PASS: {{ "'{{ `{{ .RABBITMQ_DEFAULT_PASS.Value }}` }}'" }}
---
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: plane-doc-store-secrets
  namespace: {{ plane_namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  labels:
    app.kubernetes.io/managed-by: infisical-operator
spec:
  hostAPI: {{ infisical_internal_url }}/api
  syncConfig:
    resyncInterval: 60s
  authentication:
    kubernetesAuth:
      identityId: {{ infisical_operator_identity_id }}
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: {{ infisical_operator_service_account }}
        namespace: {{ infisical_operator_namespace }}
      secretsScope:
        projectSlug: {{ infisical_project_slug }}
        envSlug: {{ infisical_env_slug }}
        secretsPath: /services-data/garage/plane
        recursive: false
  managedKubeSecretReferences:
    - secretName: plane-doc-store-secrets
      secretNamespace: {{ plane_namespace }}
      secretType: Opaque
      creationPolicy: Owner
      template:
        includeAllSecrets: false
        data:
          FILE_SIZE_LIMIT: "5242880"
          AWS_S3_BUCKET_NAME: {{ plane_minio_bucket }}
          AWS_REGION: {{ plane_aws_region }}
          AWS_S3_ENDPOINT_URL: {{ plane_garage_endpoint_url }}
          AWS_ACCESS_KEY_ID: {{ "'{{ `{{ .AWS_ACCESS_KEY_ID.Value }}` }}'" }}
          AWS_SECRET_ACCESS_KEY: {{ "'{{ `{{ .AWS_SECRET_ACCESS_KEY.Value }}` }}'" }}
{{ waitmacro.wait_for_secret(
     name='plane-app-secrets',
     namespace=plane_namespace,
     keys=['SECRET_KEY', 'AES_SECRET_KEY', 'LIVE_SERVER_SECRET_KEY', 'PI_INTERNAL_SECRET', 'DATABASE_URL', 'REDIS_URL', 'AMQP_URL'],
     sync_wave='-9'
   ) }}
{{ waitmacro.wait_for_secret(
     name='plane-live-secrets',
     namespace=plane_namespace,
     keys=['LIVE_SERVER_SECRET_KEY', 'REDIS_URL'],
     sync_wave='-9'
   ) }}
{{ waitmacro.wait_for_secret(
     name='plane-silo-secrets',
     namespace=plane_namespace,
     keys=['SILO_HMAC_SECRET_KEY', 'AES_SECRET_KEY', 'DATABASE_URL', 'REDIS_URL', 'AMQP_URL'],
     sync_wave='-9'
   ) }}
{{ waitmacro.wait_for_secret(
     name='plane-doc-store-secrets',
     namespace=plane_namespace,
     keys=['FILE_SIZE_LIMIT', 'AWS_S3_BUCKET_NAME', 'AWS_REGION', 'AWS_S3_ENDPOINT_URL', 'AWS_ACCESS_KEY_ID', 'AWS_SECRET_ACCESS_KEY'],
     sync_wave='-9'
   ) }}
{{ waitmacro.wait_for_secret(
     name='plane-rabbitmq-secrets',
     namespace=plane_namespace,
     keys=['RABBITMQ_DEFAULT_USER', 'RABBITMQ_DEFAULT_PASS'],
     sync_wave='-9'
   ) -}}
