infisical-standalone:
  infisical:
    replicaCount: 1
    kubeSecretRef: {{ infisical_bootstrap_env_secret }}
    autoBootstrap:
      enabled: false
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 1000m
        memory: 1Gi

  ingress:
    enabled: true
    ingressClassName: cilium
    hostName: {{ infisical_domain }}
    nginx:
      enabled: false
    annotations:
      cert-manager.io/cluster-issuer: {{ cert_manager_issuer_name }}
    tls:
      - secretName: infisical-tls
        hosts:
          - {{ infisical_domain }}

  postgresql:
    enabled: false
    useExistingPostgresSecret:
      enabled: true
      existingConnectionStringSecret:
        name: {{ infisical_bootstrap_postgres_secret }}
        key: connectionString

  redis:
    enabled: false
