global:
  domain: {{ argocd_domain }}
configs:
  cm:
    create: true
    admin.enabled: true
    application.instanceLabelKey: app.kubernetes.io/instance
  params:
    create: true
    server:
      extraArgs:
        - --insecure
  secret:
    create: true
    argocdServerAdminPassword: "{{ argocd_admin_password | password_hash('bcrypt') }}"
server:
  service:
    type: ClusterIP