cert_manager_namespace: "{{ cert_manager_namespace }}"
cert_manager_cloudflare_api_secret_name: "{{ cert_manager_cloudflare_api_secret_name }}"
cert_manager_cloudflare_api_secret_key: "{{ cert_manager_cloudflare_api_secret_key }}"
cloudflare_api_token: "{{ cloudflare_api_token }}"