---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: victoria-logs
  namespace: victoria-logs
  annotations:
    cert-manager.io/cluster-issuer: {{ cert_manager_issuer_name }}
spec:
  ingressClassName: cilium
  tls:
    - hosts:
        - {{ vlogs_domain }}
      secretName: victoria-logs-tls
  rules:
    - host: {{ vlogs_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: victoria-logs
                port:
                  number: 9428
