apiVersion: v1
kind: Secret
metadata:
  name: "{{ cert_manager_cloudflare_api_secret_name }}"
  namespace: "{{ cert_manager_namespace }}"
type: Opaque
stringData:
  {{ cert_manager_cloudflare_api_secret_key }}: "{{ cloudflare_api_token }}"