{{ seal_secret(
  name="glitchtip-secrets",
  namespace=glitchtip_namespace,
  annotations={
    'argocd.argoproj.io/hook': 'PreSync',
    'argocd.argoproj.io/hook-delete-policy': 'BeforeHookCreation',
    'argocd.argoproj.io/sync-wave': '-2'
  },
  data={
    'SECRET_KEY': glitchtip_secret_key,
    'DATABASE_URL': 'postgresql://{}:{}@{}:{}/{}'.format(glitchtip_postgres_user, glitchtip_postgres_password | urlencode, glitchtip_data_ip, glitchtip_postgres_port, glitchtip_postgres_db),
    'MAINTENANCE_DATABASE_URL': 'postgresql://{}:{}@{}:{}/{}'.format(glitchtip_postgres_user, glitchtip_postgres_password | urlencode, glitchtip_data_ip, glitchtip_postgres_port, glitchtip_postgres_db),
    'REDIS_URL': 'redis://:{}@{}:{}/0'.format(glitchtip_redis_password | urlencode, glitchtip_data_ip, glitchtip_redis_port),
    'EMAIL_URL': glitchtip_email_url,
    'DEFAULT_FROM_EMAIL': glitchtip_default_from_email,
    'GLITCHTIP_ADMIN_USERNAME': glitchtip_admin_username,
    'GLITCHTIP_ADMIN_EMAIL': glitchtip_admin_email,
    'GLITCHTIP_ADMIN_PASSWORD': glitchtip_admin_password,
    'GLITCHTIP_BOOTSTRAP_ORGANIZATION_NAME': glitchtip_bootstrap_organization_name,
    'GLITCHTIP_BOOTSTRAP_ORGANIZATION_SLUG': glitchtip_bootstrap_organization_slug,
    'GLITCHTIP_BOOTSTRAP_PROJECT_NAME': glitchtip_bootstrap_project_name,
    'GLITCHTIP_BOOTSTRAP_PROJECT_SLUG': glitchtip_bootstrap_project_slug,
    'GLITCHTIP_BOOTSTRAP_PROJECT_PLATFORM': glitchtip_bootstrap_project_platform,
    'GLITCHTIP_BOOTSTRAP_PROJECT_KEY_NAME': glitchtip_bootstrap_project_key_name,
    'GLITCHTIP_BOOTSTRAP_PROJECT_KEY_PUBLIC_KEY': glitchtip_bootstrap_project_key_public_key,
    'GLITCHTIP_BOOTSTRAP_MCP_TOKEN_LABEL': glitchtip_bootstrap_mcp_token_label,
    'GLITCHTIP_BOOTSTRAP_MCP_TOKEN': glitchtip_bootstrap_mcp_token
  }
) }}
