apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: apps
  namespace: argocd
spec:
  description: User applications (nginx, whoami, custom apps)
  
  sourceRepos:
    - https://github.com/PaulJequann/the-lab
    - https://charts.bitnami.com/bitnami
    - https://bjw-s-labs.github.io/helm-charts
    - ghcr.io/hkuds/deeptutor
  
  destinations:
    - namespace: 'app-*'  # app- prefixed namespaces
      server: https://kubernetes.default.svc
    - namespace: 'media'  # media namespace for *arr apps
      server: https://kubernetes.default.svc
  
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
  
  namespaceResourceWhitelist:
    - group: ''
      kind: Service
    - group: ''
      kind: ConfigMap
    - group: ''
      kind: Secret
    - group: ''
      kind: PersistentVolumeClaim
    - group: apps
      kind: Deployment
    - group: apps
      kind: StatefulSet
    - group: networking.k8s.io
      kind: Ingress
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
  
  # Block dangerous configs
  namespaceResourceBlacklist:
    - group: ''
      kind: Pod  # Force use of Deployments