---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: core
  namespace: {{ argocd_namespace | default('argocd') }}
spec:
  description: Core cluster services
  sourceRepos:
    - {{ github_repo_url }}
    - {{ argocd_chart_repo }}
    - {{ cert_manager_chart_repo }}
    - {{ sealed_secrets_chart_repo }}
    - {{ cilium_repo_url }}
  destinations:
    - namespace: '*'
      server: 'https://kubernetes.default.svc'
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'