apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: monitoring
  namespace: argocd
spec:
  description: Monitoring and observability (Prometheus, Grafana, Loki)
  
  sourceRepos:
    - https://github.com/PaulJequann/the-lab
    - https://prometheus-community.github.io/helm-charts
    - https://grafana.github.io/helm-charts
  
  destinations:
    - namespace: monitoring
      server: https://kubernetes.default.svc
  
  clusterResourceWhitelist:
    - group: rbac.authorization.k8s.io
      kind: ClusterRole
    - group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
  
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'