---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gha-rs-controller
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
spec:
  project: infrastructure
  source:
    repoURL: {{arc_controller_repo}}
    targetRevision: {{arc_chart_version}}
  destination:
    server: https://kubernetes.default.svc
    namespace: arc-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
