---
glitchtip_postgres_password: {{ glitchtip_postgres_password }}
{% if glitchtip_postgres_additional_databases | default([]) %}
glitchtip_postgres_additional_databases:
{% for database in glitchtip_postgres_additional_databases %}
  - name: '{{ database.name | replace("'", "''") }}'
    user: '{{ database.user | replace("'", "''") }}'
    password: '{{ database.password | replace("'", "''") }}'
    allowed_cidrs:
{% for allowed_cidr in database.allowed_cidrs %}
      - '{{ allowed_cidr | replace("'", "''") }}'
{% endfor %}
{% endfor %}
{% else %}
glitchtip_postgres_additional_databases: []
{% endif %}
glitchtip_redis_password: {{ glitchtip_redis_password }}
honcho_postgres_password: {{ honcho_postgres_password }}
honcho_redis_password: {{ honcho_redis_password }}
honcho_auth_jwt_secret: {{ honcho_auth_jwt_secret }}
honcho_webhook_secret: {{ honcho_webhook_secret }}
honcho_llm_anthropic_api_key: {{ honcho_llm_anthropic_api_key }}
honcho_llm_openai_api_key: {{ honcho_llm_openai_api_key }}
honcho_llm_gemini_api_key: {{ honcho_llm_gemini_api_key }}
honcho_llm_groq_api_key: {{ honcho_llm_groq_api_key }}
honcho_llm_openai_compatible_api_key: {{ honcho_llm_openai_compatible_api_key }}
honcho_llm_vllm_api_key: {{ honcho_llm_vllm_api_key }}
honcho_vector_store_turbopuffer_api_key: {{ honcho_vector_store_turbopuffer_api_key }}
honcho_sentry_dsn: {{ honcho_sentry_dsn }}
