---
glitchtip_data_hostname: {{ glitchtip_data_hostname }}
glitchtip_data_ip: {{ glitchtip_data_ip }}
glitchtip_postgres_db: {{ glitchtip_postgres_db }}
glitchtip_postgres_user: {{ glitchtip_postgres_user }}
glitchtip_postgres_port: {{ glitchtip_postgres_port }}
glitchtip_redis_port: {{ glitchtip_redis_port }}
glitchtip_backup_enabled: {{ glitchtip_backup_enabled }}
glitchtip_backup_nfs_server: {{ glitchtip_backup_nfs_server }}
glitchtip_backup_nfs_path: {{ glitchtip_backup_nfs_path }}
glitchtip_backup_retention_days: {{ glitchtip_backup_retention_days }}
node_network: {{ node_network }}
