---
glitchtip_postgres_password: {{ glitchtip_postgres_password }}
glitchtip_redis_password: {{ glitchtip_redis_password }}
glitchtip_secret_key: {{ glitchtip_secret_key }}
glitchtip_email_url: {{ glitchtip_email_url }}
glitchtip_default_from_email: {{ glitchtip_default_from_email }}
glitchtip_admin_username: {{ glitchtip_admin_username }}
glitchtip_admin_email: {{ glitchtip_admin_email }}
glitchtip_admin_password: {{ glitchtip_admin_password }}
