---
# This file is templated from config.yaml variables
iso_url: "{{ pxe_server.iso_url }}"
iso_checksum: "{{ pxe_server.iso_checksum }}"
timezone: {{ pxe_server.timezone }}
dhcp_proxy: {{ pxe_server.dhcp_proxy }}